* {
  margin: 0;
  padding: 0;

}

body {
  background-color: #f4f5f7;
}

ul li {
  list-style: none
}

header {
  display: flex;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  justify-content: space-around;
}

header .left-ul {
  display: flex;
  background-color: #fff;
}

header .logo {
  height: 60px;
}

header .left-ul li {
  font-size: 14px;
  margin-right: 15px;
  background-color: #fff;
  cursor: pointer;
}

.left-ul .home::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-right: 1.6px solid;
  border-top: 1.6px solid;
  transform: rotate(135deg);
  margin-left: 4px;
  margin-bottom: 6px;
}

.left-ul .load {
  display: flex;
  align-items: center;
}

.load img {
  width: 18px;
  height: 18px;
  background-color: #fff;
}

.load span {
  background-color: #fff;
}

/* 搜索 */
.search {
  position: relative;
  width: 450px;
  background-color: #fff;
}

#search-form {
  display: flex;
  align-items: center;
  padding: 0 48px 0 4px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  line-height: 40px;
  top: 10px;
  height: 40px;
  /* background-color: var(--graph_bg_regular); */
  opacity: .9;
  border: 1px solid #e7e9ea;
  border-radius: 8px;
}

.nav-search-input {
  flex: 1;
  overflow: hidden;
  padding-right: 8px;
  border: 0;
  background-color: transparent;
  font-size: 14px;
  outline: none;
}

.nav-search-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 8px;
  width: 100%;
  height: 32px;
  border-radius: 6px;
}

.nav-search-clean {
  width: 16px;
  height: 16px;
  right: 10px;
  cursor: pointer;
  visibility: hidden;
}

.search-btn {
  position: absolute;
  top: 10px;
  right: 0px;
  display: flex;
  align-items: center;
  width: 32px;
  height: 40px;
  border: 0;
  border-radius: 6px;
  line-height: 32px;
  cursor: pointer;
}

/* right */
.right-info {
  display: flex;
  align-items: center;
  background-color: #fff;
}

.right-info li {
  cursor: pointer;
}

.right-head {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  /* background-color: #fff; */
  margin-right: 10px;
}

.header-entry-mini {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 2;
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.right-content {
  display: flex;
  width: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 16px;
  font-size: 13px;
  margin: 0;
  /* background-color: #fff; */
}

.right-content .but {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  border: 0;
  background-color: #fb7299;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
}

.but span {
  margin-left: 4px;
}

.but img {
  width: 20px;
  height: 14px;
}

/* main */
main {
  position: relative;
  width: 80%;
  height: auto;
  background-color: #fff;
  margin: auto;
}

.main-content-bg {
  height: 200px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)), url(../imgs/cb1c3ef50e22b6096fde67febe863494caefebad.png@2560w_400h_100q_1o.webp);
}

.main-content {
  display: flex;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 128px;
}

.main-content img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
}

.info-name {
  font-weight: 700;
  color: #fff;
  padding-right: 10px;
}

.main-info .info-level {
  color: red;
  background-color: #ccc;
}

.info-level,
.info-vip {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  color: #FFD700;
  background-color: red;
  padding: 0 10px;
  border-radius: 5px;
}

.main-info p {
  font-size: 14px;
  margin-top: 10px;
}

/* main-nav */
.main-nav {
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.main-nav ul {
  position: relative;
  display: flex;
  /* height: 66px; */
  font-size: 14px;
  line-height: 60px;
}

.main-nav input+label {
  display: block;
  width: 100%;
  height: 100%;
  /* background:#ccc; */
  font-size: 14px;
  /* text-align: center; */
  line-height: 60px;
  color: #333;
  cursor: pointer;
}

.main-nav ul li {
  width: 80px;
  display: flex;
  align-items: center;
}

.main-nav input+label+div {
  /* display: none; */
  position: absolute;
  left: -20px;
  top: 80px;
}

.main-nav input:checked+label {
  border-bottom: 2px solid #00a1d6;
  color: #00a1d6;
}

/* .main-nav input:checked+label+div {
  display: block;
} */

.main-nav ul li input {
  display: none;
}

.main-nav ul li img {
  width: 23px;
  height: 23px;
  margin-right: 4px;
}

/* mainSearch */
.mainSearch {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 14px;
}

.mainSearch-inp {
  border: 0;
  outline: none;
  padding-left: 10px;
}

.mainSearch img {
  width: 20px;
  height: 20px;
  padding: 6px;
}

/* main-right */
.mainNavRight {
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
}

.mainNavRight-num {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mainNavRight-num .main-title {
  color: #99a2aa;
  padding-bottom: 4px;
}

/* 切换区域内容 */
/* .main-nav .main-nav-content-box {
  display: flex;
  background-color: #fff;
}
.main-nav-content {
  width: 880px;
  display: flex;
  padding: 0px 20px 20px 20px;
}
.main-nav-left {
  display: flex;
  align-items: center;
}
.main-nav-right {
  width: 348px;
  border: 1px solid;
}
.main-nav-left p {
  width: 280px;
  height: 175px;
  line-height: 175px;
  text-align: center;
  border: 2px dashed #ccc;
}
.main-nav .main-nav-left img {
  width: 300px;
  height: 160px;
  margin-left: 100px;
} */

.article {
  width: 80%;
  display: flex;
  margin: 0 auto;
  margin-top: 14px;
  justify-content: space-between;
}
.article-content {
  width: 71.4%;
  background-color: #fff;
  padding: 15px 20px;
}
.article-content .notice {
  color: #00a1d6;
  font-size: 12px;
}
.article-left {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e9ef;
  padding-bottom: 20px;
}
.article-left p {
  width: 280px;
  height: 175px;
  line-height: 175px;
  text-align: center;
  margin: 20px 100px 0 0;
  border: 2px dashed #ccc;
}
.article-wd {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #e5e9ef;
  padding: 6px;
}
.article-wd .article-wd-sp {
  font-size: 20px;
}
.article-wd .article-wd-sc {
  margin-left: 200px;
  font-size: 12px;
  color: #99a2aa;
}
.article-wd .article-wd-lj {
  font-size: 12px;
  color: #00a1d6;
  margin-left: 10px;
}

.article-right-content {
  display: flex;
  height: 79px !important;
  background-color: #fff;
}
.article-right-content img {
  width: 99px;
  height: 70px;
}
.article-right-content .click {
  font-size: 18px;
  margin-top: 14px;
  padding-bottom: 8px;
}
.article-right-content .get {
  color: #99a2aa;
  font-size: 12px;
}

.article-right-core {
  text-align: center;
  background-color: #fff;
  margin-top: 12px;
  padding-bottom: 10px;
}
.article-right-core img {
  height: 34px;
  padding: 10px 0;
}
/*  */
.article-admin {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #e5e9ef;
  position: relative;
  border-radius: 4px;
}
.article-admin .article-admin-a {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 6px 0;
}
.article-admin .article-admin-a img {
  height: 24px;
  padding: 0;
}
.article-admin .article-after::after {
  content: "";
  width: 1px;
  height: 16px;
  border-right: 1px solid #ccc;
  position: absolute;
  right: 124px;
}
.article-right-notice {
  background-color: #fff;
  margin-top: 12px;
}
.article-right-title {
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #e5e9ef;
  margin: 6px 10px 10px 10px;
}
.article-right-edit {
  height: 172px;
  color: #6d757a;
  font-size: 12px;
  line-height: 20px;
  /* border: 1px solid #e5e9ef; */
  padding: 10px;
  margin: 10px;
}